services:
  app:
    build:
      context: ./app
    env_file:
      - ./app/.env
    volumes:
      - ./app/src:/app/src
    depends_on:
      - rabbitmq
      - database
    expose:
      - "8000"

  web-proxy:
    build:
      context: ./web-proxy
    depends_on:
      - app
    ports:
      - "80:80"
      - "443:443"

  worker-1:
    build:
      context: ./worker
    env_file:
      - ./app/.env
    environment:
      WORKER_ID: worker-1
    volumes:
      - ./app/src:/worker/src
    depends_on:
      - rabbitmq
      - database

  worker-2:
    build:
      context: ./worker
    env_file:
      - ./app/.env
    environment:
      WORKER_ID: worker-2
    volumes:
      - ./app/src:/worker/src
    depends_on:
      - rabbitmq
      - database

  rabbitmq:
    image: rabbitmq:3-management
    environment:
      RABBITMQ_DEFAULT_USER: ml_queue_user
      RABBITMQ_DEFAULT_PASS: ml_queue_password
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - ./data/rabbitmq:/var/lib/rabbitmq
    restart: on-failure

  database:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: ml_service
      POSTGRES_USER: ml_user
      POSTGRES_PASSWORD: ml_password
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
