APP_HOST=0.0.0.0
APP_PORT=8000
APP_NAME=ml-service-app
APP_ENV=development
DB_HOST=database
DB_PORT=5432
DB_NAME=ml_service
DB_USER=ml_user
DB_PASSWORD=ml_password
DB_ECHO=false
DB_INIT_ATTEMPTS=30
DB_INIT_DELAY=1
